<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <h2 class="maintitle">Clínica Digital</h2>
    <p>Aquí podrá tanto asignar nuevos turnos y/o pasar al siguiente.</p>

</body>
<article class="container">
    <main>
        <div>Seleccione aqui:</div>
        <button class="bottom">Nuevo turno</button> 
        <button class="bottom">Siguiente</button>
    </main>
</article>
<footer>
    <div class="footer">Made by EduDev for Clínica Digital Argentina 2022.
        Todos los derechos reservados - Términos y Condiciones</div>

</footer>

</html>