<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>

<body>
    <h2 class="maintitle">Clínica Digital</h2>
    <article class="container">
    <form>
        <h3>Login</h3>

        <div>
            <input type="text" name="" placeholder="Nombre de usuario">
            <span class="feedback">Por favor, introduce un nombre de usuario</span>
        </div>

        <div>
            <input type="password" name="" placeholder="Contraseña">
            <span class="feedback">Por favor, introduce una contraseña</span>
        </div>

        <div class="boton">
            <button type="submit">Login</button>
        </div>
    </form>
    </article>
   
</body>
<footer>
    <div class="footer">Made by EduDev for Clínica Digital Argentina 2022
        Todos los derechos reservados - Términos y Condiciones
    </div>
</footer>

</html>